$PRIMARY-COLOR: #ffffff;
$PRIVATE-COLOR: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
$btn-color: #343045;
$btn-bg-color: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
$body-bg-color: #302c42;
